/* Подключение шрифтов */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Thin.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
}
/* Общие настройки страницы */
ol,li,ul
{
    list-style-type: none;
}
*{
    padding: 0;
    margin: 0;
}
/* хедер */
.logo
{
    width: 300px;
}
.header_wrapper
{
    padding: 27px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;

color: #FFFFFF;
}
.menu_list
{
    display: flex;
}
.menu_link:hover
{
opacity: 0.7;
}
.menu_link
{
    transition: 0.3s;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: white;
text-decoration: none;

}
.container
{
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
    padding-top: 19px;

}
.nav_header
{
    display: flex;
    flex-direction: column  ;
}
/* секция */
.page_section1
{
    background-image: url(../img/index/Intro_background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 50px
}
.picture_head
{
    margin: 0px 7px;
}
.phone_number:hover
{
    opacity: 0.7;
}
.phone_number
{
    transition: 0.3s;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 37px;
color: #FFFFFF;
text-decoration: none;
text-align: end;
}
.row_item
{
    display: flex;
    margin: 45px 0px;
}
.separator
{
    width: 1100px;
    border-top: solid 1px #FFFFFF;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.box_item
{
    padding: 42x 0px 0px 0px;
}
.contain_block
{
    display: flex;
    width: 900px;
    justify-content: space-between;
}
.cleanwomen
{
    transform: scale(0.8);
}
.row_text
{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 29px;
margin-left: 50px;
color: #FFFFFF;
}
.title_text{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 49px;
color: #fff;
}
.sub-title_lower
{
    display: flex;
}
.marked_text
{
    margin-left: 8px;
    color: #402D50;
}
.sub-title_box
{
    color: #fff;
}
.sub-title_text
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 49px;
    text-align: center;
}
.button_getit:hover
{
    filter: drop-shadow(0px 2px 22px #FFFFFF);
}
.button_getit
{
    transition: 0.3s ease-out;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
padding: 9px 43px 11px 23px;
color: #FFFFFF;
text-decoration: none;
background: #A56492;
border-radius: 20px;
}
.btn_container
{
    width: 300px;
    height: 90px;

}
.download
{
margin-right: 17px;
}
.lower_text_intro
{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;
}
.arrowbox
{
    width: 560px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.arrow_intro
{
    padding-right: 50px;
}
@media (max-width:1440px)
{
    .container
    {
        width: 1200px;
        width: 1100px;
    }
}
@media (max-width:1024px)
{
    .container
    {
        width: 900px;
        width: 800px;
    }
    .title_text
    {
    font-size: 18px;
    }
    .sub-title_text
    {
        font-size: 18px;
    }
    .header_wrapper
    {
        font-size: 0px;
    }
    .phone_number
    {
        font-size: 18px;
    }
    .menu_link
    {
        font-size: 16px;
    }
}
