/* Подключение шрифтов */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Thin.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
}
/* Общие настройки страницы */
body,html
{
  background-color:   #E5E5E5;
}
ol,li,ul
{
    list-style-type: none;
}
*{
    padding: 0;
    margin: 0;
}
/* хедер */
.logo
{
    width: 300px;
}
.header_wrapper
{
    padding: 27px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;

color: #FFFFFF;
}
.menu_list
{
    display: flex;
}
.menu_link:hover
{
opacity: 0.7;
}
.menu_link
{
    transition: 0.3s;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: white;
text-decoration: none;

}
.container
{
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
    padding-top: 19px;

}
.nav_header
{
    display: flex;
    flex-direction: column  ;
}
/* секция */
.page_section1
{
    background-image: url(../img/index/Intro_background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;  
}
.picture_head
{
    margin: 0px 7px;
}
.phone_number:hover
{
    opacity: 0.7;
}
.phone_number
{
    transition: 0.3s;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 37px;
color: #FFFFFF;
text-decoration: none;
text-align: end;
}
.row_item
{
    display: flex;
    margin: 45px 0px;
}
.separator
{
    width: 1100px;
    border-top: solid 1px #FFFFFF;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 17px;
}
.box_item
{
    padding: 42x 0px 0px 0px;
}
.contain_block
{
    display: flex;
    width: 900px;
    justify-content: space-between;
}
.cleanwomen
{
    transform: scale(0.8);
}
.row_text
{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 29px;
margin-left: 50px;
color: #FFFFFF;
}
.title_text{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 49px;
color: #fff;
}
.sub-title_lower
{
    display: flex;
}
.marked_text
{
    margin-left: 8px;
    color: #402D50;
}
.sub-title_box
{
    color: #fff;
}
.sub-title_text
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 49px;
    text-align: center;
}
.button_getit:hover
{
    filter: drop-shadow(0px 2px 22px #FFFFFF);
}
.button_getit
{
    transition: 0.3s ease-out;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
padding: 9px 43px 11px 23px;
color: #FFFFFF;
text-decoration: none;
background: #A56492;
border-radius: 20px;
}
.btn_container
{
    width: 300px;
    height: 90px;
    padding-bottom: 50px;

}
.download
{
margin-right: 17px;
}
.lower_text_intro
{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;
}
.arrowbox
{
    width: 560px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.arrow_intro
{
    padding-right: 50px;
}
/* Секция 2 */
.section_title_text
{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #000000;
margin-bottom: 45px;
}
.section_btn:hover
{
    filter: drop-shadow(0px 2px 22px #000000);
}
.section_btn
{
    transition: 0.35s;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
padding: 26px 41px 26px 36px;
background-color: #A56492;
border-radius: 20px;
text-decoration: none;
}
.Picture_section    
{
    width: 585px;
}
.discription_text
{
    margin-bottom: 30px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;

color: #000000;
}
.button_box
{
    margin-top: 64px;
}
.text_container
{
    display: flex;
    flex-direction: column;
    width: 623px;
}
.section_flex
{
    display: flex;
    justify-content: space-between;
}
.page_section
{
    background-color: white;
    filter: drop-shadow(0px 4px 21px rgba(0, 0, 0, 0.25));
}
.center_padding
{
    padding: 100px 0px 100px 0px;
}
/* Секция 3 */
.box_text
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    
    color: #FFFFFF;
    
}
.text_box_big::placeholder
{
    color: #fff;
}
.purple_btn
{
    background: #A56492;
    display: flex;
    align-items: center;
}
.button_submit::before
{
 margin-left: 30px;   
    content: "";
    background: url(../svg/phone.svg) no-repeat center center / cover ;
    width: 51px;
    height: 51px;
    display: block;
}
.button_submit:hover{
opacity: 0.5;
}
.button_submit
{
    width: 248px;
    height: 90px;
    background: #A56492;
    border-radius: 20px;
    border-style: none;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
    transition: 0.3s;
}
.button_submit:hover
{
    opacity: 0.5;
}
.text_box_big:hover
{
    opacity: 0.5;
}
.text_box_big:focus
{
    outline: 0;
}
.text_box_big
{
    transition: 0.3s;
    width: 248px;
height: 90px;
background: #A9A6A8;
border-radius: 20px;
border-style: none;
text-align: center;
word-wrap: break-word;
word-break: break-all;
}
.text_box_long:hover
{
    opacity: 0.5;
}
.text_box_long
{
    width: 248px;
height: 60px;
background: #A9A6A8;
border-radius: 20px;
border-style: none;
text-align: center;
transition: 00.3s;
}
.text_box_long::placeholder
{
    color: #fff;
}
.text_box_long:focus
{
    outline: 0;
    outline-offset: 0;
}
.upper_textbox
{
    display: flex;
    justify-content: space-between
}
.time_box
{
    width: 248px;
height: 91px;
    background: #A9A6A8;
    border-style: none;
border-radius: 20px;
text-align: center;

}

.picture_text
{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #000000;
}
.purple_marker
{
    font-weight: 700;
color: #402D50;
}
.lower_buttonbox{
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}
/* Секция 4 */
.Videobox
{
    width: 1020px;
height: 550px;
background: #C4C4C4;
margin: 0 auto;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 144px;
line-height: 176px;
text-align: center;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
justify-content: center;
}
/* Секция 6 */
.section_title_text_wrap
{
    overflow-wrap: break-word;
    width: 378px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #000000;
}
.lower_object_section
{
    display: flex;
    align-items: center;
}
.vert_flex
{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.wrap_text
{
overflow-wrap: break-word;
}
.title_size
{
    width: 623px;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}
.object_text
{
    margin-left: 14px;
    width: 290px;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #000000;
}
/* Секция 21 */
.text_box_request
{
width: 623px;
height: 60px;
}
@media (max-width:1440px)
{
    .container
    {
        max-width: 1200px;
    }
}
@media (min-width:1600px)
{
.container
{
    max-width: 1500px;
}
}
@media (max-width:1024px)
{
    .container
    {
        max-width: 900px;
    }
    .title_text
    {
    font-size: 18px;
    }
    .sub-title_text
    {
        font-size: 18px;
    }
    .header_wrapper
    {
        font-size: 0px;
    }
    .phone_number
    {
        font-size: 18px;
    }
    .menu_link
    {
        font-size: 16px;
    }
}
